# Ignore Files
.env
.DS_Store
*.pkl
*.zip
*.py[cod]

# Ignore Directories
venv/
.test_*/
.cache/
__pycache__/
.mypy_cache/
.private_git/

# Project Specific
old/
logs/
forks/
scratch/
# wip
notebooks/
deploy/
TODO*.md

# Reports & Personal Portfolio Data
reports/*
!reports/*.py
!reports/*.sh
!reports/news/
!reports/news/rendered/
!reports/news/rendered/*.png
portfolios/portfolio.json
portfolios/portfolio_summary.tsv
portfolios/yahoo_auth_curl.txt
portfolios/tsvs/*.tsv
!portfolios/tsvs/example_*.tsv
