# Ignore Files
.env
.DS_Store
*.pkl
*.zip
*.py[cod]

# Ignore Directories
venv/
.test_*/
.cache/
__pycache__/
.mypy_cache/

# Project Specific
old/
logs/
forks/
*keys.tsv
*keygen.py
# wip
notebooks/
deploy/
TODO*.md
