# Ignore Files
.env
.DS_Store
*.pkl
*.zip
*.py[cod]

# Ignore Directories
venv/
.test_*/
.cache/
__pycache__/
.mypy_cache/

# Project Specific
old/
logs/
*AI_Stock_Predictor*
*keys.tsv
*keygen.py
TODO.md

# wip
notebooks/
deploy/
