# Earnings report using hypothetical portfolio
!02-25_earnings_NVDA_trade*

# Explicitly track market intelligence reports
!*_REPORT.md

# Leave out personal reports (usually MM-DD_portfolio_*/)
*_portfolio_*/
PORTFOLIO_REPORT.md

# Rendered reports
rendered/
