# Manually allow reportsd to be pushed to git
!02-25_earnings_NVDA_trade*
!03-10_earnings_ORCL_analysis*
!intrinsic_value_analysis*

# Explicitly track market intelligence reports
!*_REPORT.md

# Leave out personal reports (usually MM-DD_portfolio_*/)
*_portfolio_*/
PORTFOLIO_REPORT.md

# Rendered reports
rendered/
