# Manually allow example data to be pushed to git
!tsvs/example_active_account.tsv
!tsvs/example_inactive_trust.tsv
!portfolio_example.json

# Ignore Portfolio specific (assume private)
*.tsv
*.json
plots/
